@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
.nav-bar{
    background-color: #4338CA;
    color: white;
    border-radius: 1rem 0rem 1rem;
    font-family: 'Roboto', sans-serif;
}
.navBarLink{
    color: white;
    text-decoration: none;
    margin: 0.2rem;
    font-size: 16px;
}